.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}
.nav-container{
     margin-inline: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-block: calc(var(--spacing) * 4);
     background-color: transparent;
}
.nav-container img{
    margin-left: 30px;
    
}
.nav-container ul{
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1rem;

}
.nav-container ul a{
    cursor: pointer;
    color: white;
}
.nav-container ul a:hover{
    color: gray;
}
.nav-container button{
   
    padding: 8px 32px;
    border-radius: 30px;
   
}
